.idea
.idea/*
target
.classpath
.project
.settings
.cache
.metadata
*.class
.idea/*
citstreamerdb
*.log
*.apk
*.ap_
bin
livescale-examples/livestream/livestream-android/bin
livescale-examples/livestream/livestream-android/gen
livescale-examples/livestream/livestream-android-test/bin
livescale-examples/livestream/livestream-android-test/gen
livescale-examples/livestream/livestream-android-test/local.properties
